{% extends 'base.html' %}

{% block head %}
<title>NFL Record Predictor</title>
<h1>Main page for the record predictor</h1>
{% endblock %}

{% block body %}
<p>Include a dropdown with every NFL team and a button at the bottom that leads to ML info</p>
<p>have the user select a team, enter a prediction for their record, click submit</p>
<p>then be sent to the page showing the teams predicted record, and their prediction beside it(in a row using database)</p>
<form action="/" method="POST">
    <input type="submit" name="redirect" value="predictions">
    <input type="submit" name="redirect" value="ML">
</form>
{% endblock %}
