{% extends 'base.html' %}

{% block head %}
<title>NFL Record Predictor</title>
<h1>Main page for the record predictor</h1>
{% endblock %}

{% block body %}
<div class="stats">
    {% if team_length|length > 0 %}
    {% set stats = team_statistics[-1].teamstats.split(', ') %} <!--turning the string back into a list, use percent sign and set command-->
    <h2>{{ stats[0] }}</h2>
    <h3>Offensive PPG: {{ stats[1] }}</h3>
    <h3>Defensive PPG: {{ stats[2] }}</h3>
    <h3>Win Percentage: {{ stats[3] }}</h3>
    <h3>Strength of schedule: {{ stats[4] }}</h3>
    <h3>Passing Yards: {{ stats[5] }} & Passing Touchdowns: {{ stats[6] }}</h3>
    <h3>Rushing Yards: {{ stats[7] }} & Rushing Touchdowns: {{ stats[8] }}</h3>
    {% endif %}
</div>

<div class="prediction">
    <h1>User Prediction</h1>
    {% if error is defined %}
        <h2>{{ error }}</h2> <!--use double curly brackets to use variables in jinja-->
    {% endif %}
    
    {% if team_length|length < 1 %}
        <h3>Add a prediction in the format of W-L-T, numbers only(e.g. 13-4-0)</h3>
    {% else %}
        <table class="table table-bordered"> <!--table-->
            <tr> <!--row-->
                <th style="text-align: center">Team</th> <!--row header-->
                <th style="text-align: center">User Prediction</th>
                <th style="text-align: center">ML Prediction</th>
                <th style="text-align: center">Options</th>
            </tr>

            <tr><th style="text-align: center" colspan="4">AFC East</th></tr>
            {% for team, prediction in team_prediction %} <!--jinja for loop, grabbing the past entries in data base and adding them into the page-->
                {% if team.team in divisions[0] %}
                    <tr>
                        <td style="text-align: center">{{ team.team }}</td> <!--content in rows-->
                        <td style="text-align: center">{{ prediction.record }}</td> <!--grabbing record from object attribute prediction-->
                        <td style="text-align: center">ML prediction(coming soon)</td>
                        <td style="text-align: center"><a href="/delete/{{prediction.id}}">Delete</a></td> <!--deleting a prediction-->
                    </tr>
                {% endif %}
            {% endfor %}

            <tr><th style="text-align: center" colspan="4">AFC North</th></tr>
            {% for team, prediction in team_prediction %}
                {% if team.team in divisions[1] %}
                    <tr>
                        <td style="text-align: center">{{ team.team }}</td> 
                        <td style="text-align: center">{{ prediction.record }}</td> 
                        <td style="text-align: center">ML prediction(coming soon)</td>
                        <td style="text-align: center"><a href="/delete/{{prediction.id}}">Delete</a></td> 
                    </tr>
                {% endif %}
            {% endfor %}

            <tr><th style="text-align: center" colspan="4">AFC South</th></tr>
            {% for team, prediction in team_prediction %} 
                {% if team.team in divisions[2] %}
                    <tr>
                        <td style="text-align: center">{{ team.team }}</td>
                        <td style="text-align: center">{{ prediction.record }}</td>
                        <td style="text-align: center">ML prediction(coming soon)</td>
                        <td style="text-align: center"><a href="/delete/{{prediction.id}}">Delete</a></td> 
                    </tr>
                {% endif %}
            {% endfor %}

            <tr><th style="text-align: center" colspan="4">AFC West</th></tr>
            {% for team, prediction in team_prediction %} 
                {% if team.team in divisions[3] %}
                    <tr>
                        <td style="text-align: center">{{ team.team }}</td> 
                        <td style="text-align: center">{{ prediction.record }}</td> 
                        <td style="text-align: center">ML prediction(coming soon)</td>
                        <td style="text-align: center"><a href="/delete/{{prediction.id}}">Delete</a></td>
                    </tr>
                {% endif %}
            {% endfor %}

            <tr><th style="text-align: center" colspan="4">NFC East</th></tr>
            {% for team, prediction in team_prediction %}
                {% if team.team in divisions[4] %}
                    <tr>
                        <td style="text-align: center">{{ team.team }}</td> 
                        <td style="text-align: center">{{ prediction.record }}</td>
                        <td style="text-align: center">ML prediction(coming soon)</td>
                        <td style="text-align: center"><a href="/delete/{{prediction.id}}">Delete</a></td>
                    </tr>
                {% endif %}
            {% endfor %}

            <tr><th style="text-align: center" colspan="4">NFC North</th></tr>
            {% for team, prediction in team_prediction %}
                {% if team.team in divisions[5] %}
                    <tr>
                        <td style="text-align: center">{{ team.team }}</td> 
                        <td style="text-align: center">{{ prediction.record }}</td> 
                        <td style="text-align: center">ML prediction(coming soon)</td>
                        <td style="text-align: center"><a href="/delete/{{prediction.id}}">Delete</a></td> 
                    </tr>
                {% endif %}
            {% endfor %}

            <tr><th style="text-align: center" colspan="4">NFC South</th></tr>
            {% for team, prediction in team_prediction %} 
                {% if team.team in divisions[6] %}
                    <tr>
                        <td style="text-align: center">{{ team.team }}</td>
                        <td style="text-align: center">{{ prediction.record }}</td> 
                        <td style="text-align: center">ML prediction(coming soon)</td>
                        <td style="text-align: center"><a href="/delete/{{prediction.id}}">Delete</a></td> 
                    </tr>
                {% endif %}
            {% endfor %}

            <tr><th style="text-align: center" colspan="4">NFC West</th></tr>
            {% for team, prediction in team_prediction %} 
                {% if team.team in divisions[7] %}
                    <tr>
                        <td style="text-align: center">{{ team.team }}</td> 
                        <td style="text-align: center">{{ prediction.record }}</td> 
                        <td style="text-align: center">ML prediction(coming soon)</td>
                        <td style="text-align: center"><a href="/delete/{{prediction.id}}">Delete</a></td>
                    </tr>
                {% endif %}
            {% endfor %}

        </table>
    {% endif %}

    <form action="/" method="POST"> <!--creates a form, action specifies where to send form data when submitted-->
        <label for="teams">Choose a team:</label>
        <select name="teams" id="teams" class="form-control" style="text-align: center" autocomplete="on">
            <option value="Arizona Cardinals">Arizona Cardinals</option>
            <option value="Atlanta Falcons">Atlanta Falcons</option>
            <option value="Baltimore Ravens">Baltimore Ravens</option>
            <option value="Buffalo Bills">Buffalo Bills</option>
            <option value="Carolina Panthers">Carolina Panthers</option>
            <option value="Chicago Bears">Chicago Bears</option>
            <option value="Cincinnati Bengals">Cincinnati Bengals</option>
            <option value="Cleveland Browns">Cleveland Browns</option>
            <option value="Dallas Cowboys">Dallas Cowboys</option>
            <option value="Denver Broncos">Denver Broncos</option>
            <option value="Detroit Lions">Detroit Lions</option>
            <option value="Green Bay Packers">Green Bay Packers</option>
            <option value="Houston Texans">Houston Texans</option>
            <option value="Indianapolis Colts">Indianapolis Colts</option>
            <option value="Jacksonville Jaguars">Jacksonville Jaguars</option>
            <option value="Kansas City Chiefs">Kansas City Chiefs</option>
            <option value="Las Vegas Raiders">Las Vegas Raiders</option>
            <option value="Los Angeles Chargers">Los Angeles Chargers</option>
            <option value="Los Angeles Rams">Los Angeles Rams</option>
            <option value="Miami Dolphins">Miami Dolphins</option>
            <option value="Minnesota Vikings">Minnesota Vikings</option>
            <option value="New England Patriots">New England Patriots</option>
            <option value="New Orleans Saints">New Orleans Saints</option>
            <option value="New York Giants">New York Giants</option>
            <option value="New York Jets">New York Jets</option>
            <option value="Philadelphia Eagles">Philadelphia Eagles</option>
            <option value="Pittsburgh Steelers">Pittsburgh Steelers</option>
            <option value="San Francisco 49ers">San Francisco 49ers</option>
            <option value="Seattle Seahawks">Seattle Seahawks</option>
            <option value="Tampa Bay Buccaneers">Tampa Bay Buccaneers</option>
            <option value="Tennessee Titans">Tennessee Titans</option>
            <option value="Washington Commanders">Washington Commanders</option>
        </select>
        <!--make it so that its type is number, max is 17, min is 0, style is text-align: center-->
        <!--have 3 boxes for win draw tie, send these numbers back in 1 message to look like an actual record(#-#-#)-->
        <input type="text" name="predictions" id="predictions" required>
        <input type="submit" name="redirect" value="add prediction">
    </form>
    <form action="/" method="POST">
        <input type="submit" name="redirect" value="ML">
    </form>
</div>

{% endblock %}
