{% extends 'base.html' %}

{% block head %}
<title>NFL Record Predictor</title>
<h1>page that shows predicted record using model and BleacherReports record prediction</h1>
{% endblock %}

{% block body %}
<p>along with record prediction, show previous year's stats and record, along with upcoming strength of schedule</p>
<p>ask user to input their own prediction for each nfl team on their seperate page</p>
<div class="prediction">
    <h1>User Prediction</h1>
    <table> <!--table-->
        <tr> <!--row-->
            <th>Team</th> <!--row header-->
            <th>User Prediction</th>
            <th>Options</th>
        </tr>
        {% for team, prediction in team_prediction %} <!--jinja for loop, grabbing the past entries in data base and adding them into the page-->
            <tr>
                <td>{{ team.team }}</td> <!--content in rows-->
                <td>{{ prediction.record }}</td> <!--grabbing record from object attribute prediction-->
                <td><a href="/delete/{{prediction.id}}">Delete</a></td> <!--deleting a prediction-->
            </tr>
        {% endfor %}
    </table>

    <form action="/records" method="POST"> <!--creating a form-->
        <input type="text" name="prediction" id="prediction" required> <!--creating 2 user inputs, one to enter a prediction and the other to submit it-->
        <input type="submit" name="redirect" value="Add Prediction">
    </form>
    <form action="/records" method="POST">
        <input type="submit" name="redirect" value="homepage">
    </form>
</div>

{% endblock %}
